<ul class="navigation uk-nav uk-nav-default">
    <li class="uk-nav-header">
        Virtual Fort Snelling
        <!-- <br/> Documentation -->
    </li>
    <li><a href="{{ site.baseurl | append: '/' }}">Welcome</a></li>
    <li><a href="{{ site.baseurl | append: '/pages/contributor-setup' }}">1. Setup</a></li>
    <li><a href="{{ site.baseurl | append: '/pages/contributor-work' }}">2. Work</a></li>
    <li><a href="{{ site.baseurl | append: '/pages/contributor-submit' }}">3. Submit</a></li>
    <li class="uk-parent">
        <li><a href="{{ site.baseurl | append: '/pages/contributor-guides' }}">4. Guides</a></li>
        <ul class="uk-nav-sub">
            <li><a href="{{ site.baseurl | append: '/pages/guides/adding-new-pages' }}">a. Adding New Pages</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/guides/understanding-xml' }}">b. Understanding XML</a></li>
        </ul>
    </li>

    <!-- <li class="uk-parent">
        <a href="{{ site.baseurl | append: '/pages/contributors' }}">1. For Contributors</a>
        <ul class="uk-nav-sub">
            <li><a href="{{ site.baseurl | append: '/pages/contributor-setup' }}">a. Setup</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/contributor-work' }}">b. Work</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/contributor-submit' }}">c. Submit</a></li>
            <li class="uk-parent">
                <li><a href="{{ site.baseurl | append: '/pages/contributor-guides' }}">d. Guides</a></li>
                <ul class="uk-nav-sub">
                    <li><a href="{{ site.baseurl | append: '/pages/guides/adding-new-pages' }}">Adding New Pages</a></li>
                    <li><a href="{{ site.baseurl | append: '/pages/guides/understanding-xml' }}">Understanding XML</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="uk-parent">
        <a href="{{ site.baseurl | append: '/pages/developers' }}">2. For Developers</a>
        <ul class="uk-nav-sub">
            <li><a href="{{ site.baseurl | append: '/pages/developer-setup' }}">a. Setup</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/developer-work' }}">b. Work</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/developer-submit' }}">c. Submit</a></li>
            <li><a href="{{ site.baseurl | append: '/pages/developer-guides' }}">d. Guides</a></li>
        </ul>
    </li> -->
</ul>