.container
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.sidebar
{
    flex-shrink: 0;
}

.content
{
    flex-grow: 1;
    overflow: scroll;
}

.content-article
{
    max-width: 900px;
    margin: 0px auto;
}